.todo-card {
    border-radius: 10px;
    box-shadow: 10px 6px 16px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 0.4);
    overflow: hidden;
    background: #fff;
    width: 91%;
    display: flex;
    height: 38px;
    justify-content: space-between;
    align-items: center;
    margin: 14px auto;
}

.delete-icon {
    color: #639;
    margin-right: 1.4rem;
    cursor: pointer;
}

.todo-text {
    font-size: 1.3rem;
    margin-left: 1.4rem;
    color: #639;
}
