.todo-input{
   width: 75%;
}
.add-icon{
   font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
    color:rebeccapurple;
}

.input-div{
   display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}
/* 
.MuiFormLabel-root.Mui-focused{
   color: red !important;
   outline: red;
} */