*{
  margin: 0;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-todo-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: ". section section .";
}
.secton-todo-list{
  grid-area: section;
  width: 100%;
  height: 100vh;
  
}